.form {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

// This selector is a fix for the div structure of airbnb's react-dates
.SingleDatePickerInput {
  display: flex;
  flex-direction: column;
}