.header {
  //background: $QUATERNARY;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}

.header__text {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.color-bar {
  height: 2px;
  background: linear-gradient(120deg, $SECONDARY, $TERTIARY);
}