.header {
  background: linear-gradient($dark-grey, adjust-hue($dark-grey, 15));
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.color-bar {
  height: 2px;
  //background: $olive;
  background: linear-gradient(120deg, $olive, #C9F2C7);
}