.about {
  margin-bottom: 5rem;
  margin-top: 1rem;
}

#bootstrap-overrides .about__links {
  align-content: center;
  justify-content: center;
  color: $dark-grey;
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  text-decoration: none;
  &:hover {
    color: $SECONDARY;
  }
}

.about__text {
  text-align: justify;
}

.expensemap-image {
  align-content: center;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 0.35rem $SECONDARY);
  transition: filter .3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  &:hover {
    filter: drop-shadow(0px 0px 0.75rem $SECONDARY);
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}

#small {
  margin-left: 46.5%;
  padding-bottom: 1rem;
  width: 7%;
}

#medium {
  margin-left: 37.5%;
  padding-bottom: 1rem;
  width: 25%;
}

.color-bar {
  height: 2px;
  background: linear-gradient(120deg, $SECONDARY, $TERTIARY);
}

.display-4.override {
  margin-bottom: 0;
}

.docs__text {
  text-align: center;
}

body a.underline {
  background: #f8f8f8;
  border-bottom: 1px dotted #a6a6a6;
  border-radius: 5px;
  margin-bottom: 0;
  position: relative;
  color: #000;
  text-decoration: none;

  &:hover {
    background: none;
    border-bottom: 0 solid #a6a6a6;
    color: $SECONDARY;
    text-decoration: none;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    background-color: $PRIMARY;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.projects {
  margin-bottom: 3rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 576px) {
    flex-direction: column;
  }
}

#bootstrap-overrides .project__links {
  align-items: center;
  color: $dark-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  text-decoration: none;
  &:hover {
    color: $SECONDARY;
  }
}

#bootstrap-overrides .project__icon {
  align-self: center;
  color: inherit;
  margin: 0 1.5rem 0 1.5rem;
  opacity: 0.5;
}

#bootstrap-overrides .project__icon-text {
  color: inherit;
  font-size: large;
  font-weight: 400;
  margin: 0 0 0 .5rem;
}

.project__title {
  font-weight: 500;
  padding: 1rem 0;
  word-wrap: unset;
  white-space: nowrap;
}

#bootstrap-overrides .projects__section-title {
  text-align: center;
}

#bootstrap-overrides .project__stackshare {
  color: #80bdff;
  &:hover {
  }
}